<div class="row well" show-scope-change="Cat app">
	<div class="col-md-3" >
		<label>Max count click</label>
		<input type="text" ng-model="maxCountCatClick" />
		<h4 ng-show="catImg && countCat > 0"><small>Cat name: </small>{{catName}}</h4>

		<img ng-show="catImg && countCat > 0" ng-src="{{catImg}}" class="full-image" />
		<h3><small>Life cats: </small>{{countCat = (cats | showCatsFilter:maxCountCatClick).length}}</h3>

		<dog></dog>
	</div>

	<div class="col-md-9">
	<!-- Sorry, this is not place derective CAT, but you looking scope objects -->
		<cat></cat>
	</div>
</div>


<style>
	.full-image{
		width: 200px;
		border-radius: 5px;
		border: 1px solid #bbb;
	}
	.cat-scope{
		padding: 10px;
		background-color: #fff;
	}

	.cat-scope img{
		border-radius: 50%;
		width: 150px;
	}
</style>
